Data preparation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
reviews = pd.read_csv('https://raw.githubusercontent.com/Manoj-A-Thomas/data/data/winemag-data_first150k.csv', index_col=0)

In [4]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150930 entries, 0 to 150929
Data columns (total 10 columns):
country        150925 non-null object
description    150930 non-null object
designation    105195 non-null object
points         150930 non-null int64
price          137235 non-null float64
province       150925 non-null object
region_1       125870 non-null object
region_2       60953 non-null object
variety        150930 non-null object
winery         150930 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 12.7+ MB

Looking only at country, province, points, price

In [5]:
# change col dtype
reviews.points.astype('float64')

0         96.0
1         96.0
2         96.0
3         96.0
4         95.0
5         95.0
6         95.0
7         95.0
8         95.0
9         95.0
10        95.0
11        95.0
12        95.0
13        95.0
14        95.0
15        95.0
16        95.0
17        95.0
18        95.0
19        95.0
20        95.0
21        95.0
22        95.0
23        95.0
24        95.0
25        94.0
26        94.0
27        94.0
28        94.0
29        94.0
          ...
150900    81.0
150901    81.0
150902    81.0
150903    81.0
150904    81.0
150905    80.0
150906    93.0
150907    92.0
150908    90.0
150909    89.0
150910    89.0
150911    87.0
150912    87.0
150913    94.0
150914    94.0
150915    93.0
150916    93.0
150917    92.0
150918    92.0
150919    91.0
150920    91.0
150921    91.0
150922    91.0
150923    91.0
150924    91.0
150925    91.0
150926    91.0
150927    91.0
150928    90.0
150929    90.0
Name: points, Length: 150930, dtype: float64

In [12]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150925 entries, 0 to 150929
Data columns (total 10 columns):
country        150925 non-null object
description    150925 non-null object
designation    105190 non-null object
points         150925 non-null int64
price          137230 non-null float64
province       150925 non-null object
region_1       125870 non-null object
region_2       60953 non-null object
variety        150925 non-null object
winery         150925 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 12.7+ MB

In [13]:
# find missing value counts
reviews[['country','province','points','price']].isnull().sum()

country         0
province        0
points          0
price       13695
dtype: int64

In [9]:
reviews[(reviews.country.isnull()) | 
        (reviews.province.isnull())]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1133</th>
      <td>NaN</td>
      <td>Delicate white flowers and a spin of lemon pee...</td>
      <td>Askitikos</td>
      <td>90</td>
      <td>17.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Assyrtiko</td>
      <td>Tsililis</td>
    </tr>
    <tr>
      <th>1440</th>
      <td>NaN</td>
      <td>A blend of 60% Syrah, 30% Cabernet Sauvignon a...</td>
      <td>Shah</td>
      <td>90</td>
      <td>30.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Red Blend</td>
      <td>Büyülübağ</td>
    </tr>
    <tr>
      <th>68226</th>
      <td>NaN</td>
      <td>From first sniff to last, the nose never makes...</td>
      <td>Piedra Feliz</td>
      <td>81</td>
      <td>15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Pinot Noir</td>
      <td>Chilcas</td>
    </tr>
    <tr>
      <th>113016</th>
      <td>NaN</td>
      <td>From first sniff to last, the nose never makes...</td>
      <td>Piedra Feliz</td>
      <td>81</td>
      <td>15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Pinot Noir</td>
      <td>Chilcas</td>
    </tr>
    <tr>
      <th>135696</th>
      <td>NaN</td>
      <td>From first sniff to last, the nose never makes...</td>
      <td>Piedra Feliz</td>
      <td>81</td>
      <td>15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Pinot Noir</td>
      <td>Chilcas</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
reviews.dropna(subset=['country','province'], inplace=True)

In [10]:
reviews.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>116256</th>
      <td>US</td>
      <td>A bit of residual sugar sticks out, rounding o...</td>
      <td>NaN</td>
      <td>88</td>
      <td>13.0</td>
      <td>Oregon</td>
      <td>Oregon</td>
      <td>Oregon Other</td>
      <td>Pinot Gris</td>
      <td>O'Reilly's</td>
    </tr>
    <tr>
      <th>111143</th>
      <td>Austria</td>
      <td>Raspberries and bitter cherries, fresh red fru...</td>
      <td>Saint Laurent</td>
      <td>87</td>
      <td>NaN</td>
      <td>Niederösterreich</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>St. Laurent</td>
      <td>R&amp;A; Pfaffl</td>
    </tr>
    <tr>
      <th>95167</th>
      <td>US</td>
      <td>Bright cherry and vanilla aromas lead this plu...</td>
      <td>NaN</td>
      <td>86</td>
      <td>25.0</td>
      <td>New York</td>
      <td>Finger Lakes</td>
      <td>Finger Lakes</td>
      <td>Cabernet Franc</td>
      <td>Shaw</td>
    </tr>
    <tr>
      <th>46485</th>
      <td>US</td>
      <td>Soft and sugary sweet, with spicy black raspbe...</td>
      <td>NaN</td>
      <td>83</td>
      <td>20.0</td>
      <td>California</td>
      <td>Paso Robles</td>
      <td>Central Coast</td>
      <td>Cabernet Sauvignon</td>
      <td>Calcareous</td>
    </tr>
    <tr>
      <th>71085</th>
      <td>US</td>
      <td>Rich and decadent, this Cab is made in the rip...</td>
      <td>NaN</td>
      <td>88</td>
      <td>40.0</td>
      <td>California</td>
      <td>Napa Valley</td>
      <td>Napa</td>
      <td>Cabernet Sauvignon</td>
      <td>Coniglio</td>
    </tr>
    <tr>
      <th>28120</th>
      <td>Italy</td>
      <td>Pretty aromas of blue flower, rose, wild berry...</td>
      <td>Coste di Rose</td>
      <td>91</td>
      <td>90.0</td>
      <td>Piedmont</td>
      <td>Barolo</td>
      <td>NaN</td>
      <td>Nebbiolo</td>
      <td>Marchesi di Barolo</td>
    </tr>
    <tr>
      <th>86639</th>
      <td>Spain</td>
      <td>Banana, lemon curd and sawdust are the prime a...</td>
      <td>NaN</td>
      <td>86</td>
      <td>14.0</td>
      <td>Northern Spain</td>
      <td>Navarra</td>
      <td>NaN</td>
      <td>Chardonnay</td>
      <td>Vega Sindoa</td>
    </tr>
    <tr>
      <th>136134</th>
      <td>US</td>
      <td>You'll find some peach and apple flavors in th...</td>
      <td>Unoaked</td>
      <td>83</td>
      <td>13.0</td>
      <td>California</td>
      <td>El Dorado</td>
      <td>Sierra Foothills</td>
      <td>Chardonnay</td>
      <td>Sierra Vista</td>
    </tr>
    <tr>
      <th>75813</th>
      <td>US</td>
      <td>Black pepper and acidity, compounded by a lack...</td>
      <td>Winemaker's Reserve</td>
      <td>81</td>
      <td>13.0</td>
      <td>California</td>
      <td>California</td>
      <td>California Other</td>
      <td>Red Blend</td>
      <td>Kitchen Sink</td>
    </tr>
    <tr>
      <th>117907</th>
      <td>US</td>
      <td>Keller enters the big leagues with this marvel...</td>
      <td>La Cruz Vineyard</td>
      <td>91</td>
      <td>40.0</td>
      <td>California</td>
      <td>Sonoma Coast</td>
      <td>Sonoma</td>
      <td>Pinot Noir</td>
      <td>Keller Estate</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
reviews.region_1.isnull().sum()

25055

In [15]:
reviews.region_1.fillna('unknown', inplace=True)

In [16]:
reviews.region_2.replace(np.nan, 'unknown', inplace=True)

In [17]:
reviews.reset_index(drop=True, inplace=True)

In [23]:
# Fix price !!

# reviews['price'].plot(kind='hist', bins=20)
# reviews['price'].describe()
# reviews['price'].value_counts()

count    137230.000000
mean         33.132019
std          36.323072
min           4.000000
25%          16.000000
50%          24.000000
75%          40.000000
max        2300.000000
Name: price, dtype: float64

In [27]:
# len(reviews[reviews['price']>40])  #31317

len(reviews[reviews['price']<40])  #101895

101895

In [28]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150925 entries, 0 to 150924
Data columns (total 10 columns):
country        150925 non-null object
description    150925 non-null object
designation    105190 non-null object
points         150925 non-null int64
price          137230 non-null float64
province       150925 non-null object
region_1       150925 non-null object
region_2       150925 non-null object
variety        150925 non-null object
winery         150925 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 11.5+ MB

In [29]:
# remove wines > $40 and create a new df

reviews_pr = reviews.loc[reviews['price'] < 40].copy()

In [33]:
reviews_pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101895 entries, 0 to 101894
Data columns (total 10 columns):
country        101895 non-null object
description    101895 non-null object
designation    66059 non-null object
points         101895 non-null int64
price          101895 non-null float64
province       101895 non-null object
region_1       101895 non-null object
region_2       101895 non-null object
variety        101895 non-null object
winery         101895 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 7.8+ MB

In [32]:
reviews_pr.reset_index(drop=True, inplace=True)

In [41]:
reviews_pr.province.is_unique

False

In [42]:
reviews_noDup = reviews_pr.drop_duplicates()

In [47]:
reviews_noDup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65503 entries, 0 to 65502
Data columns (total 10 columns):
country        65503 non-null object
description    65503 non-null object
designation    42228 non-null object
points         65503 non-null int64
price          65503 non-null float64
province       65503 non-null object
region_1       65503 non-null object
region_2       65503 non-null object
variety        65503 non-null object
winery         65503 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 5.0+ MB

In [46]:
reviews_noDup.reset_index(drop=True, inplace=True)

In [51]:
# log scaling

# reviews_noDup.var()

reviews_noDup.loc[:,'price_log'] = np.log(
    reviews_noDup['price'])

C:\Users\manoj\PycharmProjects\Basics\venv\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [52]:
reviews_noDup[['points','price_log']].var()

points       7.620576
price_log    0.173753
dtype: float64