In [52]:
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
sol = pd.read_csv('2017-2018-school-test-by-test.csv')

In [36]:
sol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19202 entries, 0 to 19201
Data columns (total 17 columns):
LEVEL                      19202 non-null object
Div Num                    19202 non-null int64
Div Name                   19202 non-null object
Sch Num                    19202 non-null int64
Sch Name                   19202 non-null object
Sch Type                   19202 non-null object
Low Grade                  19202 non-null object
High Grade                 19202 non-null int64
Subject                    19202 non-null object
Grade                      19202 non-null object
Test                       19202 non-null object
2015-2016 Pass Rate        18386 non-null object
2016-2017 Pass Rate        18305 non-null object
2017-2018 Pass Rate        18340 non-null object
2015-2016 Adv Pass Rate    18386 non-null object
2016-2017 Adv Pass Rate    18305 non-null object
2017-2018 Adv Pass Rate    18340 non-null object
dtypes: int64(3), object(14)
memory usage: 2.5+ MB

In [37]:
sol.shape

(19202, 17)

In [38]:
sol.dtypes
sol = sol.rename(columns={'2017-2018 Adv Pass Rate':'2017-2018AdvPassRate'})

In [39]:
sol.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Div Num</th>
      <th>Sch Num</th>
      <th>High Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>19202.000000</td>
      <td>19202.000000</td>
      <td>19202.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>68.054890</td>
      <td>573.071659</td>
      <td>7.418446</td>
    </tr>
    <tr>
      <th>std</th>
      <td>41.673612</td>
      <td>559.438653</td>
      <td>2.739367</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>10.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>29.000000</td>
      <td>190.000000</td>
      <td>5.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>68.000000</td>
      <td>440.000000</td>
      <td>6.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>108.000000</td>
      <td>780.000000</td>
      <td>8.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>207.000000</td>
      <td>9020.000000</td>
      <td>12.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [40]:
print(sol.head())

  LEVEL  Div Num          Div Name  Sch Num               Sch Name Sch Type  \
0   SCH        1  Accomack County       701  Accawmacke Elementary     Elem
1   SCH        1  Accomack County       701  Accawmacke Elementary     Elem
2   SCH        1  Accomack County       701  Accawmacke Elementary     Elem
3   SCH        1  Accomack County       701  Accawmacke Elementary     Elem
4   SCH        1  Accomack County       701  Accawmacke Elementary     Elem

  Low Grade  High Grade                      Subject             Grade  \
0        PK           5             English: Reading              Gr 3
1        PK           5             English: Reading              Gr 4
2        PK           5             English: Reading              Gr 5
3        PK           5  History and Social Sciences              Gr 5
4        PK           5  History and Social Sciences  Content Specific

              Test 2015-2016 Pass Rate 2016-2017 Pass Rate  \
0  English Reading                  72                  70
1  English Reading                  61                  73
2  English Reading                  71                  67
3          History                   <                   <
4       VA Studies                  88                  85

  2017-2018 Pass Rate 2015-2016 Adv Pass Rate 2016-2017 Adv Pass Rate  \
0                  71                      13                      17
1                  64                      12                      10
2                  65                      20                      15
3                   <                       <                       <
4                  83                      43                      29

  2017-2018AdvPassRate
0                   12
1                   14
2                   13
3                    <
4                   28

In [41]:
print(sol.tail())

      LEVEL  Div Num      Div Name  Sch Num         Sch Name Sch Type  \
19197   SCH       98  York County        60  Yorktown Middle   Middle
19198   SCH       98  York County        60  Yorktown Middle   Middle
19199   SCH       98  York County        60  Yorktown Middle   Middle
19200   SCH       98  York County        60  Yorktown Middle   Middle
19201   SCH       98  York County        60  Yorktown Middle   Middle

      Low Grade  High Grade      Subject          Grade         Test  \
19197         6           8  Mathematics           Gr 7  Mathematics
19198         6           8  Mathematics           Gr 8  Mathematics
19199         6           8  Mathematics  End of Course    Algebra I
19200         6           8  Mathematics  End of Course     Geometry
19201         6           8      Science           Gr 8      Science

      2015-2016 Pass Rate 2016-2017 Pass Rate 2017-2018 Pass Rate  \
19197                  78                  80                  76
19198                  80                  77                  79
19199                  93                  95                  96
19200                 100                 100                 100
19201                  84                  85                  87

      2015-2016 Adv Pass Rate 2016-2017 Adv Pass Rate 2017-2018AdvPassRate
19197                       7                      10                    8
19198                       5                       4                    2
19199                       8                       3                    6
19200                      25                      24                   22
19201                       8                      12                    9

In [42]:
print(sol.sample(5))

      LEVEL  Div Num              Div Name  Sch Num               Sch Name  \
16713   SCH       89      Stafford County       430    Mountain View High
4045    SCH       27     Dinwiddie County       520  Sutherland Elementary
17023   SCH      127         Suffolk City       300          Lakeland High
9473    SCH       52           Lee County       290      Pennington Middle
17691   SCH      128  Virginia Beach City       970        Larkspur Middle

      Sch Type Low Grade  High Grade                      Subject  \
16713     High         9          12                      Science
4045      Elem        KG           5  History and Social Sciences
17023     High         9          12                  Mathematics
9473    Middle         6           8                  Mathematics
17691   Middle         6           8             English: Reading

                  Grade             Test 2015-2016 Pass Rate  \
16713     End of Course    Earth Science                  92
4045   Content Specific       VA Studies                  98
17023     End of Course         Geometry                  70
9473               Gr 7      Mathematics                  81
17691              Gr 8  English Reading                  71

      2016-2017 Pass Rate 2017-2018 Pass Rate 2015-2016 Adv Pass Rate  \
16713                  92                  91                      12
4045                   92                  98                      57
17023                  65                  61                       2
9473                   71                  79                       6
17691                  76                  75                       7

      2016-2017 Adv Pass Rate 2017-2018AdvPassRate
16713                      11                   11
4045                       49                   68
17023                       2                    2
9473                        6                   13
17691                       9                    6

In [43]:
print(sol.isnull().sum())

LEVEL                        0
Div Num                      0
Div Name                     0
Sch Num                      0
Sch Name                     0
Sch Type                     0
Low Grade                    0
High Grade                   0
Subject                      0
Grade                        0
Test                         0
2015-2016 Pass Rate        816
2016-2017 Pass Rate        897
2017-2018 Pass Rate        862
2015-2016 Adv Pass Rate    816
2016-2017 Adv Pass Rate    897
2017-2018AdvPassRate       862
dtype: int64

In [44]:
print(sol.notnull().sum())

LEVEL                      19202
Div Num                    19202
Div Name                   19202
Sch Num                    19202
Sch Name                   19202
Sch Type                   19202
Low Grade                  19202
High Grade                 19202
Subject                    19202
Grade                      19202
Test                       19202
2015-2016 Pass Rate        18386
2016-2017 Pass Rate        18305
2017-2018 Pass Rate        18340
2015-2016 Adv Pass Rate    18386
2016-2017 Adv Pass Rate    18305
2017-2018AdvPassRate       18340
dtype: int64

In [45]:
sol = sol.rename(columns={'Div Num':'DivNum', 'Div Name':'DivName'})

In [47]:
sol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19202 entries, 0 to 19201
Data columns (total 17 columns):
LEVEL                      19202 non-null object
DivNum                     19202 non-null int64
DivName                    19202 non-null object
Sch Num                    19202 non-null int64
Sch Name                   19202 non-null object
Sch Type                   19202 non-null object
Low Grade                  19202 non-null object
High Grade                 19202 non-null int64
Subject                    19202 non-null object
Grade                      19202 non-null object
Test                       19202 non-null object
2015-2016 Pass Rate        18386 non-null object
2016-2017 Pass Rate        18305 non-null object
2017-2018 Pass Rate        18340 non-null object
2015-2016 Adv Pass Rate    18386 non-null object
2016-2017 Adv Pass Rate    18305 non-null object
2017-2018AdvPassRate       18340 non-null object
dtypes: int64(3), object(14)
memory usage: 2.5+ MB

In [48]:
print(sol.sample(5))

      LEVEL  DivNum           DivName  Sch Num                    Sch Name  \
5273    SCH      29   Fairfax County        90     Lake Braddock Secondary
2548    SCH     136  Chesapeake City       720     G.A. Treakle Elementary
7613    SCH      41   Halifax County      1490  Sydnor Jennings Elementary
8954    SCH      44     Henry County        10                Bassett High
14965   SCH     124     Roanoke City       370         Monterey Elementary

       Sch Type Low Grade  High Grade                      Subject  \
5273   Combined         7          12  History and Social Sciences
2548       Elem        PK           5             English: Reading
7613       Elem        KG           5                  Mathematics
8954       High         9          12                      Science
14965      Elem        PK           5                  Mathematics

               Grade             Test 2015-2016 Pass Rate 2016-2017 Pass Rate  \
5273   End of Course  World History I                  95                  94
2548            Gr 3  English Reading                  70                  77
7613            Gr 5      Mathematics                  83                  58
8954   End of Course        Chemistry                  85                  82
14965           Gr 5      Mathematics                  66                  87

      2017-2018 Pass Rate 2015-2016 Adv Pass Rate 2016-2017 Adv Pass Rate  \
5273                   93                      34                      36
2548                   65                       8                      14
7613                   63                       6                       8
8954                   88                       5                      13
14965                  78                      21                      23

      2017-2018AdvPassRate
5273                    35
2548                     4
7613                     7
8954                     9
14965                   30

In [49]:
sol['Test'].unique()

array(['English Reading', 'History', 'VA Studies', 'Mathematics',
       'Science', 'Writing', 'Geography', 'VA & US History',
       'World History I', 'World History II', 'Algebra I', 'Algebra II',
       'Geometry', 'Biology', 'Chemistry', 'Earth Science',
       'Civics & Econ'], dtype=object)

In [50]:
sol['Test'].value_counts()

English Reading     5104
Mathematics         5024
Science             1506
VA Studies          1113
History             1095
Writing              732
Algebra I            711
Geometry             635
Earth Science        460
Algebra II           435
Civics & Econ        401
World History I      384
Biology              357
VA & US History      329
Chemistry            326
World History II     316
Geography            274
Name: Test, dtype: int64

In [ ]:
sol['High Grade'].unique()

TypeError: Empty 'DataFrame': no numeric data to plot

In [54]:
sol['High Grade'].value_counts()

5     7747
8     4469
12    4310
6     1836
7      594
4      174
3       46
9       26
Name: High Grade, dtype: int64

In [55]:
mapping={'English Reading':0,
'Mathematics':1,
'Science':2,
'VA Studies': 3,
'History':4,
'Writing': 5,
'Algebra I':6,
'Geometry':7,
'Earth Science':8,
'Algebra II':9,
'Civics & Econ':10,
'World History I':11,
'Biology':12,
'VA & US History':13,
'Chemistry':14,
'World History II':15,
'Geography':16}

In [56]:
sol['Test'] = sol.Test.map(mapping)

In [57]:
sol['Test'].unique()

array([ 0,  4,  3,  1,  2,  5, 16, 13, 11, 15,  6,  9,  7, 12, 14,  8, 10],
      dtype=int64)

In [58]:
sol['Test'].value_counts()

0     5104
1     5024
2     1506
3     1113
4     1095
5      732
6      711
7      635
8      460
9      435
10     401
11     384
12     357
13     329
14     326
15     316
16     274
Name: Test, dtype: int64

In [61]:
import matplotlib.pyplot as plt

In [62]:
sol['Test'] =sol['Test'].astype(int)

In [63]:
sol['Test'].plot('hist')
plt.show()

In [31]:
sol['Test'].isnull().sum()

0

In [33]:
sol['Test'] = sol['Test'].astype(int)